* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;push
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}





/* Header */
header {
  background-color: rgb(26,26,26);
  color: #f1f1f1;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
  float: left;
  color: #f1f1f1;
  margin-left: 20px;
}

nav {
  float: right;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: #007BFF;
}

header::after {
  content: "";
  display: table;
  clear: both;
}





/* Hero */
.hero {
  height: 90vh;
  text-align: center;
  padding: 100px 20px;
  background-color: #eef2f7;

  background: url(./images/banner\ 4.jpg) no-repeat;
  background-size: 100% 100%;
  background-position: center top;
}


.hero h2 {
   color: #f1f1f1;
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero p {
   color: #f1f1f1;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.hero .btn {
  background-color: #007BFF;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero .btn:hover {
  background-color: #0056b3;
}




/* Section */
.section {
  padding: 60px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
}





/* Features */
.features {
  padding: 60px 0;
 background: #fff;
  text-align: center;
}

.features h2 {
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.feature-card {
  background: #eeeded;
  padding: 20px;
  border-left: 4px solid #00b894;
  border-radius: 8px;
}







/* Upcoming Matches */
.match-list {
  list-style: disc;
  padding-left: 40px;
  font-size: 1.1rem;
}

/* Reviews */
.review-box {
  background: #fff;
  padding: 20px;
  margin: 15px 0;
  border-left: 4px solid #00b894;
  border-radius: 5px;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.05);
}

/* Footer */
footer {
  background-color: rgb(26,26,26);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #f1f1f1a8;
}
